@import "common";

body {
    background-color: #eee;
}

#wrap {
    margin: 20px auto;
    padding: 20px;
    max-width: 500px;
    background-color: #fff;

    h1 {
        font-size: 150%;
        font-weight: bold;
    }
}